/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*************************************************************************************************************/
* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

.register {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}
