/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #F4F5F7;
  --primary-color: #034732;
  --secondary-color: #5C0A2B;
  --tertiary-color: #DAA520;
  --background-white: #F4F5F7;
  --color-black: #333333;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-weight: bold;
  margin: 1rem 0;
}

h1 {
  font-size: clamp(1.75rem, 5vw, 2.25rem);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.25rem 1rem;
}

h2 {
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  color: var(--secondary-color);
}

h3 {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
}

ul, li {
  list-style: none;
}

a {
  color: var(--secondary-color);
}

.register {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}

main {
  padding: calc(52px + 1.5rem) 0 0;
  min-height: calc(100vh - 69px - 52px);
}
main > * {
  width: calc(100% - 5vw);
  margin-left: auto;
  margin-right: auto;
}

.header {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-white);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem clamp(0.5rem, 2vw, 1rem);
}
.header__home-link {
  width: 2rem;
}
.header__home-link-svg {
  fill: var(--secondary-color);
  height: auto;
  width: auto;
}
.header__link {
  text-decoration: none;
}

.footer {
  width: 100%;
  padding: 1rem 0;
  margin: 4rem 0 0;
  border-top: 1px solid var(--secondary-color);
}
.footer .footer-container {
  width: 100%;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.footer__copyright-link {
  text-decoration: none;
  width: 1.5rem;
}
.footer__copyright-svg {
  fill: var(--secondary-color);
  width: 100%;
  height: auto;
}

.messages, .all-messages {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
}
.messages__items, .all-messages__items {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.messages__item, .all-messages__item {
  padding: clamp(0.25rem, 2vw, 1rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.messages__title, .all-messages__title {
  margin: 0 0 1.75rem;
  padding: 0.25rem 0 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
}
