<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/client/app.bundle.js" defer></script>
  <title><%= title %></title>
</head>
<body>
  <h1><%= user === undefined ? '' : user.first_name + '\'s' %> Account</h1>
  <main class="messages">
    <% if (!isLoggedIn) { %>
      <p>Nothing to see here. You must be a member to create messages</p>
      <div>
        <a href="/login">Login</a> or <a href="/register">Register</a>
      </div>
    <% } else if (!isMember) { %>
      <p>Nothing to see here. You must be a member to create messages</p>
      <a href="/membership">Upgrade membership</a>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/membership">Upgrade membership</a>
      <a href="/logout">Logout</a>
    <% } %>
    <h2>Your Messages</h2>
    <% if (messages !== undefined) { %>
      <ul class="messages__items">
        <% for (let message of messages) { %>
          <%- include('message-list-item', {message: message}); %>
        <% } %>
      </ul>
    <% } else { %>
      <p>You haven't created any messages.</p>
      <button class="messages__create-btn">Create message</button>
    <% } %>
  </main>
</body>
</html>