<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title><%= title %></title>
</head>
<body>
  <h1>Login</h1>
  <form class="sign-up" action="" method="POST">
    <div class="sign-up__field">
      <label class="sign-up__label" for="email">Email</label>
      <input class="sign-up__input" name="email" placeholder="email" type="email" required />
    </div>
    <div class="sign-up__field">
      <label class="sign-up__label" for="password">Password</label>
      <input class="sign-up__input" name="password" type="password" required />
    </div>
    <button class="sign-up__button">Login</button>
  </form>
</body>
</html>
