<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title><%= title %></title>
</head>
<body>
  <h1>Login</h1>
  <form class="login" action="" method="POST">
    <div class="login__field">
      <label class="login__label" for="email">Email</label>
      <input class="login__input" name="email" placeholder="email" type="email" value="<%= user === undefined ? '' : user.email %>" required />
    </div>
    <div class="login__field">
      <label class="login__label" for="password">Password</label>
      <input class="login__input" name="password" type="password" required />
    </div>
    <button class="login__button">Login</button>
  </form>
  <% if (errors) { %>
    <ul class="error-items">
      <% for (let error of errors) { %>
        <li class="error-item"><%= error.msg %></li>
      <% } %>
    </ul>
  <% } %>
</body>
</html>
