<section class="register">
  <h2 class="register__form-heading">Create Message</h2>
  <form class="register__form" action="messages/create" method="POST">
    <div class="register__field">
      <label class="register__label" for="title">Title: </label>
      <input class="register__input" name="title" type="text" value="<%= message === undefined ? '' : message.title %>" required />
    </div>
    <div class="register__field">
      <label class="register__label" for="text">Message: </label>
      <textarea class="register__input" name="text" type="text" required><%= message === undefined ? '' : message.text %></textarea>
    </div>
    <button class="register__button">Sign Up</button>
  </form>
  <% if (errors) { %>
    <ul class="error-items">
      <% for (let error of errors) { %>
        <li class="error-item"><%= error.msg %></li>
      <% } %>
    </ul>
  <% } %>
</section>
