<% if (message) { %>
  <li class="messages__item" data-id="<%= message.id %>">
    <h2 class="messages__title"><%= message.title %></h2>
    <p class="messages__date"><%= message.date%></p>
    <p class="messages__text"><%= message.text %></p>
    <button class="messages__edit-btn">Edit</button>
    <button class="message__delete-btn">Delete</button>
  </li>
<% } %>
