<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title><%= title %></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form class="sign-up" action="" method="POST">
    <div class="sign-up__field">
      <label class="sign-up__label" for="first_name">First Name</label>
      <input class="sign-up__input" name="first_name" placeholder="first_name" type="text" required />
    </div>
    <div class="sign-up__field">
      <label class="sign-up__label" for="last_name">Last Name</label>
      <input class="sign-up__input" name="last_name" placeholder="last_name" type="text" />
    </div>
    <div class="sign-up__field">
      <label class="sign-up__label" for="email">Email</label>
      <input class="sign-up__input" name="email" placeholder="email" type="email" required />
    </div>
    <div class="sign-up__field">
      <label class="sign-up__label" for="password">Password</label>
      <input class="sign-up__input" name="password" type="password" required />
    </div>
    <div class="sign-up__field">
      <label class="sign-up__label" for="confirm_password">Confirm Password</label>
      <input class="sign-up__input" name="confirm_password" type="password" required />
    </div>
    <button class="sign-up__button">Sign Up</button>
  </form>
</body>
</html>
